.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.menuTambahan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.active .answer {
    max-height: 200px;
}