.card-list .card-item{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(#fff);
}

.card-list .card-item .card-link {
    width: 100px;
    display: block;
    border-radius: 12px;
    text-decoration: none;
}

.card-list .card-item .judul {
    text-align: right;
    color: #ffffff;
    font-size: 56px;
    text-shadow: #333 2px 2px 4px;
    margin: 0px;
    position: relative;
    top: -60px;
    right: 5px;
    z-index: 10;
}

.card-list .card-link .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.menuTambahan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.active .answer {
    max-height: 200px;
}